@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Prompt:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --color1: #e4514f;
    --color2: #1f2233;
    --color3: #ffffff;
    --color4: #292d40;
    --color5: #d1d1d1;
    --color6: #3c4056;
    --color7: #353b56;
    --color8: #56bd97;
    --color9: #ae2725;
    --mobile: 360px;
    --h2-desktop-font-size: 
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: var(--color6); 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color2); 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color1); 
}

*{
    box-sizing: border-box;
    margin: 0;
    transition: .3s linear;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #1c1c1c;
    color: white;

    min-width: var(--mobile);
    max-width: 100vw;
    margin: auto;
    overflow-x: hidden;
}

p{
    font-size: 1.2rem;
    line-height: 2rem;
}
li{
    font-size: 1.2rem;
}
h3:hover{
    transform: translateY(-.1rem);
}
a{
    color: var(--color3);
    font-weight: bolder;
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    color: var(--color1);
}
section.section-01, section.section-02, section.section-04{
    padding: 2rem 10%;
}
section.section-03#section-03{
    padding: 0 10% 7rem;
}

article h2{
    color: var(--color3);
    font-weight: bolder;
    font-size: 2.5rem;
}



#javascript:hover{color: yellow;}
#java:hover{color: sandybrown;} 
#github:hover{color: tomato;} 
#react:hover{color: deepskyblue;} 
#npm{color: #d1d1d1;}
#npm:hover{color: #e4514f;}
#nodejs:hover{color: greenyellow;}
#html:hover{color: #e4514f;}
#css{color:#d1d1d1}
#html:hover #css{color: mediumpurple}
#linux:hover{color: springgreen;}
#cli:hover{color: lightgreen;}

.inview #javascript{animation: lettersEntry .8s linear 0s;}
.inview #java{animation: lettersEntry 1s linear 0s;} 
.inview #github{animation: lettersEntry 1.2s linear 0s;} 
.inview #react{animation: lettersEntry 1.4s linear 0s;}
.inview #nodejs{animation: lettersEntry 1.6s linear 0s;}
.inview #html{animation: lettersEntry 1.7s linear 0s;}
.inview #npm{animation: lettersEntry 1.7s linear 0s;}
.inview #linux{animation: lettersEntry 1.8s linear 0s;}
.inview #cli{animation: lettersEntry 1.9s linear 0s;}

.abilities{
    text-shadow: 1px 1px 5px black;
}
.abilities li{
    cursor: pointer;
    margin: 0; padding: .3rem 0;
    text-decoration: underline;
}
.abilities li:hover{
    transform: translateX(1rem);
}

@keyframes lettersEntry {
    from{
        opacity: 0;
        transform: translateX(5rem);
    } to{
        opacity: 1;
        transform: translateX(0rem);
    }
}

/*HEADER CONFIG*/
.background-img{
    position: relative;    
}
.background-img::after{
    position: absolute;
    width : 100%;
    height: 100%;
    z-index: -2;
    content: "";
    background-image: url(../imgs/pexels-soumil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    opacity: 0.3;
}
.header-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
.navbar a:nth-child(1):hover{
    color: var(--color1);
}
.navbar a:nth-child(1):hover span{
    color: white;
}
.navbar .links-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    flex-basis: auto;
}
.navbar .links-container a{
    font-size: 1.2rem;
}
.navbar .links-container a:hover{
    transform: scale(1.2);
}
.navbar .mobile-icon{
    background: transparent;
    color: var(--color1);
    border: none;
    cursor: pointer;
    font-size: 1.7rem;
    display: none;
}
.navbar .mobile-icon:hover{
    color: var(--color3);
}
.navbar a:last-child{
    color: var(--color1);
    border: 1px solid var(--color1);
    border-radius: 7px;
    padding: 8px;
    margin: 0 0 0 35px;
    transition: 0.5s;
}
.navbar a:last-child:hover{
    color: var(--color3);
    border: 1px solid var(--color3);
}
.header-container .box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 100px 0;
}
.header-container .box .inner-shadow{
    border-radius: 50%;
    box-shadow: inset 0px 0px 40px 0px #0000007d, 0px 0px 10px 0px #00000047;
}
.header-container .box img{    
    position: relative;
    display: block;    
    z-index: -1;
    width: 200px;
    border-radius: 50%;
    filter: grayscale(0.2);
    margin: -3px;
    transition: animation .5s linear;
    border: 3px solid transparent;
}
.header-container .box img:hover{
    filter: grayscale(0);
}
.header-container .box .inner-shadow:hover img{
    animation-name: twink;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transition: 0.5s linear;
    filter: grayscale(0);
}

.header-container .box h1{
    font-family: 'Prompt', sans-serif;
    font-size: 4rem;
    color: var(--color1);
}
.header-container .box h1::before{
    content: "</";
    color: #56bd97;
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.header-container .avatar-container h1{
    margin-top: 1.5rem;
}

.navbar h2{
    font-family: 'Prompt', sans-serif;
    font-size: 2.5rem;
}
.navbar h2 span{
    color: var(--color1);
    font-weight: bolder;    
}
.navbar .close-nav{
    display: none;
}



.content .section-01{
    position: relative;
    background-color: var(--color2);
}
.content .section-01::before{
    content: "01";
    position: absolute;
    top: 50px;
    right: 40px;

    font-size: 42px;
    font-weight: bold;
    color: var(--color7);
}
.content .section-01::after{
    content: "";
    position: absolute;
    top: 60px;
    right: 15px;
    height: 30px;
    transform: rotate(90deg);
    border-right: 2px solid var(--color1);
}
.content .section-01 article{
    overflow: hidden;
    padding: 70px 80px;
    transition: 0.5s;
}
.content .section-01 article img{
    float: left;
    width: 32%;
    margin-right: 30px;
    filter: grayscale(0);
    transition: animation 0.5s linear;
    border: 3px solid transparent;
    background: #1c1c1c;
}
.content .section-01 article .inner-shadow{
    background-color: #000000;
    box-shadow: inset 0px 0px 30px 1px #000000, 0px 0px 10px 0px #00000047;
}

.content .section-01 article img:hover{
    filter: grayscale(0);
    animation-name: twink;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transition: 0.5s linear;
}
.content .section-01 article .view-word{
    position: relative;
}
.content .section-01 article .view-word::after{
    position: absolute;
    content: "Discover";
    font-size: 14px;
    color: var(--color1);
    top: -15px;
    left: 0;
}
.content .section-01 article p{
    margin: 2rem 10px;
    color: var(--color5);
}
.content .section-01 article .destaque{
    font-weight: bold;
    color: var(--color1);
}

/*
WHEN INVIEW
*/
.content .section-01.reveal article img{
    transform: translateX(-5rem);
    opacity: 0;
    transition: transform 2s linear, opacity 2s linear;
}
.content .section-01.inview article img{
    opacity: 1;
    transform: translateX(0);
}
.content .section-01.inview article .box{
    animation: translateFromBottom 1.3s linear 0s;
}
.content .section-01.inview article h2{
    animation: lettersEntry 1.2s linear 0s;
}
.content .section-01.inview article p{
    animation: lettersEntry 1.5s linear 0s;
}

@keyframes translateFromLeft {
    from{
        opacity: 0;
        transform: translateX(-3rem);
    } to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes translateFromBottom {
    from{
        opacity: 0;
        transform: translateY(3rem);
    } to{
        opacity: 1;
        transform: translateY(0);
    }
}



.content .section-02{
    position: relative;
    background-color: var(--color4);
}
.content .section-02::before{
    position: absolute;
    content: "02";
    top: 50px;
    right: 40px;

    font-size: 42px;
    font-weight: bold;
    color: var(--color6);
}
.content .section-02::after{
    content: "";
    position: absolute;
    top: 60px;
    right: 15px;
    height: 30px;
    transform: rotate(90deg);
    border-right: 2px solid var(--color1);
}
.content .section-02 article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "box1 box2 box3";

    padding: 60px;
}
.content .section-02 article h2{
    margin-left: 10px;
    grid-area: header;
}
.content .section-02 article .box:nth-of-type(1){
    grid-area: box1;
}
.content .section-02 article .box:nth-of-type(2){
    grid-area: box2;
}
.content .section-02 article .box:nth-of-type(3){
    grid-area: box3;
}

.content .section-02 article .box{
    margin: 30px 10px;
    padding: 15px;
    border: 2px solid var(--color1);
    border-radius: 5px;
    transition: 0.5s;
}
.content .section-02 article .box:hover{
    border: 2px solid #ae2725;
}
.content .section-02.inview article h3{
    font-size: 1.5rem;
    color: var(--color3);
}
.box p{
    color: var(--color5);
    padding: 15px 0 10px;
}
.section-02.inview article p, .section-02.inview article h3{
    animation: slideBox 1s linear 0s;
}

@keyframes slideBox {
    from{
        opacity: 0;
        transform: translateX(2rem);
    } to {
        opacity: 1;
        transform: translateX(0rem);
    }
}



.content .section-03{
    position: relative;
}
.content .section-03::before{
    content: "03";
    position: absolute;
    top: 50px;
    right: 40px;

    font-size: 42px;
    font-weight: bold;
    color: var(--color7);
}
.content .section-03::after{
    content: "";
    position: absolute;
    top: 60px;
    right: 15px;
    height: 30px;
    transform: rotate(90deg);
    border-right: 2px solid var(--color1);
}
.content .section-03 article{    
    overflow: hidden;
    background-color: var(--color2);
    padding: 70px 80px 20px;
}
.content .section-03 article img{
    float: left;
    width: 32%;
    margin-right: 30px;
    filter: grayscale(0.3);
    transition: animation 0.5s linear;
    border: 3px solid transparent;
}
.content .section-03 article:hover img{
    filter: grayscale(0);
    animation-name: twink;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transition: 0.5s linear;
}
.content .section-03 article .view-word{
    position: relative;
}
.content .section-03 article .view-word::after{
    position: absolute;
    content: "Projetos";
    font-size: 14px;
    color: var(--color1);
    top: -15px;
    left: 0;
}
.content .section-03 article p{
    margin: 20px 0;
    color: var(--color5);
}
.content .section-03.inview article h2{
    animation: translateFromLeft 1.5s linear 0s;
}
.content .section-03.inview article p{
    animation: lettersEntry 2s linear 0s;
}
.content .section-03 article .destaque{
    font-weight: bold;
    color: var(--color1);
}




.content .portfolium{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 0 2rem;
    background-color: var(--color2);
}
.content .portfolium .projects{
    padding: 40px 10px;
    margin: 7px;
    background-color: var(--color4);
    animation: fadeIn 1s 0s;
}
.content .portfolium .projects img{
    width: 100%;
    box-shadow: 0px 0px 10px 0px #00000075;
}
.content .portfolium .projects h3{
    margin: 1.2rem 0 .7rem;
    padding: 5px 0 5px;
}
.content .portfolium .projects .knowmore{
    font-size: 1rem;
    color: var(--color1);
    padding: 0;
    transition: 0.5s;
    position: relative;
}
.content .portfolium .projects .knowmore:hover{
    color: var(--color9);
}
.content .portfolium .projects .knowmore .icon{
    position: absolute;
    top: 1px;
    right: -1rem;
    font-size: 1.1rem;
    transition: 0.5s;
}
.content .portfolium .projects .knowmore:hover .icon{
    animation-name: hoverArrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: alternate;
}

.portfolium .projects .image-gallery{
    padding: 0; margin: 0;
}

.portfolium .projects .images{
    display: flex;
    flex-direction: row;

    overflow-x: scroll;
    scroll-snap-type: x proximity;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
    transition: overflow-x .5s linear;
}

.portfolium .projects .images a{
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
}
.portfolium .projects .image-gallery{
    display: block;
    position: relative;
}
.portfolium .projects .left-btn, .portfolium .projects .right-btn{
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    font-size: 2.5rem;
    padding: .9rem;
    color: transparent;
    border: none;
    background: transparent;
    top: 50%;
    transform: translateY(-50%);
}
.portfolium .projects .right-btn{
    border-radius: 4px 0px 0px 4px;
    right: 2px;
}
.portfolium .projects .left-btn{
    border-radius: 0px 4px 4px 0px;
    left: 2px;
}
.portfolium .projects:hover .left-btn, .portfolium .projects:hover .right-btn{
    color: #ffffffd7;
    background-color: #0000008b;
}



/*NEXT & PREV BUTTONS*/
html body main #section-03{
    position: relative;
    padding: 50px 0;
    background-color: var(--color2);
}
.section-03 .controller #prev, .section-03 .controller #next{
    display: inline;
    position: absolute;
    bottom: 30px;
    font-size: 1.7rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--color3);
    transition: all 0.5s;
}
.section-03 .controller #prev:hover{
    color: var(--color1);
}
.section-03 .controller #prev{
    right: 35%;
}
.section-03 .controller #next{
    left: 35%;
}
.section-03 .controller #next:hover{
    color: var(--color1);
}
.section-03 .controller #prev[disabled]{
    color: #696969;
    cursor: default;
}
.section-03 .controller #next[disabled]{
    color: #696969;
    cursor: default;
}

.colored-box{
    display: inline-block;
    border: 2px solid var(--color1);
    border-radius: 6px;
    padding: 10px;
    transition: animation 0.5s ease;
}
.colored-box:hover{
    border: 2px solid #ae2725;
    animation-name: AnimatedBorder;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all 0s;
}
.colored-box ul{
    display: block;
    list-style: none;
    padding: 10px;
}
.colored-box ul a{
    color: #d1d1d1;
    font-weight: normal;
    text-decoration: underline;
}
.colored-box ul a:hover{
    color: #67e3b6;
}
.list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .5rem; margin: 0;
}
.list-container #list-1, .list-container #list-2{
    padding: 0 .5rem;
}

ul li{
    color: var(--color5);
    margin: 1rem 0;
    transition: 0.5s;
}

.border_bottom{
    position: relative;
    padding-bottom: 3px;
}
.border_bottom::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 30%;
    left: 0;
    border-bottom: 2px solid var(--color1);
    transition: 0.5s;
}
.border_bottom:hover.border_bottom::after{
    width: 100%;
}

.clearfix{
    clear: both;
}


/*FOOTER*/
.section-04{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    background-color: var(--color4);
    padding: 70px 80px;
    transition: 0.5s;
}
.section-04::before{
    content: "04";
    position: absolute;
    top: 50px;
    right: 40px;

    font-size: 42px;
    font-weight: bold;
    color: var(--color7);
}
.section-04::after{
    content: "";
    position: absolute;
    top: 60px;
    right: 15px;
    height: 30px;
    transform: rotate(90deg);
    border-right: 2px solid var(--color1);
}
.social{
    display: flex;
    justify-content: center;
}
.social a{
    margin: 15px;
    font-size: 30px;
}
.social a:hover{
    animation: animatedIcon 1s 0s infinite alternate;
}
footer .copyright{
    text-align: center;
    margin: 50px 0 0;
}
footer .up-btn{
    position: absolute;
    right: 2.5rem;
    top: 10rem;
    cursor: pointer;
    font-size: 2rem;
    color: var(--color5);
    font-weight: bold;
    background: var(--color7);
    padding: .6rem .8rem .8rem;
    border-radius: 4px;
    border: none;
}
footer .up-btn:hover{
    color: var(--color1);
}


/*FADE-IN (SECTIONS)*/
.reveal{
    position: relative;
    transform: scale(0.7);
    opacity: 0;
    transition: all 2s;
}
.reveal.inview{
    transform: scale(1);
    opacity: 1;
}

.avatar-container{
    animation-name: translateItem;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: initial;
}

@keyframes animatedIcon{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

@keyframes translateItem{
    from{
        opacity: 0;
        transform: translateX(-5rem);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from {
        opacity: 1;
    }
    to{
        opacity: 0.1;
    }
}

@keyframes hoverArrow{
    from{
        right: -10px; 
    }
    to{
        right: -20px;        
    }
}

@keyframes colored_shadow{
    0%{
        box-shadow: 0px 0px 10px 0px #e4514f;
    }
    50%{
        box-shadow: 0px 0px 10px 0px #ffffff77;
    }
    100%{
        box-shadow: 0px 0px 10px 0px #0059ff77;
    }
}

@keyframes AnimatedBorder{
    from {
        border: 2px solid var(--color1);
    }
    to{        
        border: 2px solid #56bd97;
    }
}

@keyframes twink{
    from {
        border: 3px solid transparent;
    }
    to{        
        border: 3px solid #56bd97;
        box-shadow: 0px 0px 10px 0px #56bd97;
    }
}

@keyframes loadingSpinner{
    from {
        transform: rotate(0deg);
    }
    to{ 
        transform: rotate(360deg);  
    }
}



.loader{
    display: none;

    animation-name: loadingSpinner;
    animation-delay: 0s;
    animation-duration: .7s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    margin: 0 auto;
    border: 5px solid #3c4056;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-bottom: 5px solid #67e3b6;
}

body{
    position: relative;
}
#popup-spinner{
    position: absolute;
    top: 45%; left: 0; right: 0; bottom: 0;
    z-index: 1010;
    transform: translateY(-50%);
}

.colored-box span{
    color: #e4514f;
}

/*POPUP*/
body{
    position: relative;
}
.popup.open{
    opacity: 1;
    transform: translateY(0);
}
.popup{
    position: fixed;
    z-index: 1000;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: #000000cd;
    transition: transform .5s linear, opacity 0s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-y: scroll;
    
    opacity: 0;
    transform: translateY(-100%);
}
.popup .popup-content{
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 0rem;
    max-width: 700px;
    min-width: 360px;
    max-height: 650px;
    min-height: 500px;
}
.popup .popup-content .title-container{
    grid-row: 2;
    grid-column: 1/4;
    font-size: 1.2rem;
}
.popup .popup-content .title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup .popup-content .title-container *{
    margin: 0 1rem;
}
.popup .popup-content .warning{
    grid-row: 1;
    grid-column: 1/4;

    font-size: 1.3rem;
    padding: .5rem 0 1.5rem;

    display: block;
    margin: auto;

    color: #ffffff86;

    animation-name: shine;
    animation-duration: .7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.popup .popup-content img{
    width: 80px;
}
.popup .popup-content .paragraphs{
    grid-row: 3;
    grid-column: 1/4;

    padding: 1rem 1.5rem;
}
.popup .popup-content .paragraph{
    font-size: 1.3rem;
    line-height: 2.2rem;
    margin: 1rem 0;
}
.popup .popup-content .references{
    grid-row: 4;
    grid-column: 1/4;

    display: flex;
    flex-direction: column;
    gap: .3rem;

    padding: 0 1.5rem;
}
.popup .popup-content .date{
    grid-row: 5;
    grid-column: 1/4;

    padding: 1.5rem;

    font-size: 1.2rem;
    color: var(--color1);
}
@keyframes shine {
    from{
        opacity: 1;
    } to {
        opacity: .2;
    }
}

.close-popup{
    display: none;
    position: absolute;
    top: 0;
    right: 3rem;
    z-index: 1001;
    color: #d1d1d1;

    background: transparent;
    border: none;
    font-size: 5rem;

    cursor: pointer;
}
.close-popup:hover{
    color: var(--color1);
}



/*RESPONSIVE LAYOUT*/
@media screen and (max-width: 1200px) {
    section.section-01, section.section-02, section.section-04{
        padding: 0 5%;
    }
    section.section-03#section-03{
        padding: 0 5% 7rem;
    }
}
@media screen and (max-width: 1000px) {
    section.section-01, section.section-02, section.section-04{
        padding: 0 2%;
    }
    section.section-03#section-03{
        padding: 0 2% 7rem;
    }
}
@media screen and (max-width: 850px) {
    section.section-01, section.section-02, section.section-04{
        padding: 0;
    }
    section.section-03#section-03{
        padding: 0 0 7rem;
    }
}


@media screen and (max-width: 880px) {
    .colored-box ul{
        padding: 1rem 0;
    }
    .colored-box ul:nth-of-type(1){
        padding-right: .5rem;
    }
    #about img{
        margin-right: 1rem;
    }
}
@media screen and (max-width: 810px) {
    .content .section-01 article{
        padding: 70px 20px 70px 20px;
    }
}
@media screen and (max-width: 750px) {
    .background-img::after{
        background-image: url(../imgs/pexels-negative-space.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /*POPUP FONTSIZE*/
    .popup .popup-content .paragraph{
        font-size: 1.2rem;
    }
    .close-popup{
        right: .5rem; padding: 0;
        font-size: 4rem;
    }

    .content .section-01 article{
        padding: 120px 20px 70px 20px;
    }
    .content .section-02 article#services{
        padding: 90px 70px 70px;
    }
    .content .section-03#section-03 article.box{
        padding: 120px 70px 30px;
    }
    .content .section-01 article img{
        float: left;
        width: 32%;
        margin-right: 15px;
    }
    .content .section-02 article{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "box1"
        "box2"
        "box3";
    
        padding: 60px;
    }
    .content .section-02 article .box{
        margin: 50px 0 0;
    }


    /*RESPONSIVE NAV*/
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .navbar .links-container{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        width: 15rem;
        padding: 5rem 0;
        margin: 0;
        transform: translateX(100%);
        transition: 0s;
    }
    .links-container.responsive{
        background-color: var(--color2);
        transform: translateX(0);
        transition: .3s;
    }
    .navbar .links-container.responsive a{
        display: block;
        padding: .4rem;
        margin: 0;
    }
    .links-container.responsive a:last-child{
        margin: 0;
    }
    .navbar .close-nav{
        display: block;
        position: absolute;
        top: 0;
        left: .5rem;

        background: transparent;
        color: var(--color6);
        border: none;
        cursor: pointer;
        font-size: 2.7rem;
    }
    .navbar .close-nav:hover{
        color: var(--color1);
    }
    .navbar .mobile-icon{
        display: block;
        padding: 1.5rem 0 0;
    }
}
@media screen and (max-width: 625px) {
    .list *{
        padding: 0; margin: 0;
    }
    .reveal{
        position: relative;
        transform: scale(0.85);
        opacity: 0;
        transition: all 2s;
    }
}
@media screen and (max-width: 540px) {
    .content .section-01 article img{
        margin-top: -1rem;
        margin-bottom: .3rem;
    }

    .content .section-02 article#services{
        padding: 90px 40px 70px;
    }
    .content .section-03#section-03 article.box{
        padding: 120px 40px 30px;
    }
}
@media screen and (max-width: 500px) {
    .content .section-01::before,
    .content .section-02::before{
        top: 1.5rem;
    }
    .content .section-01::after,
    .content .section-02::after{
        top: 2rem;
    }
    .content .section-01 article p{
        text-align: justify;
    }

    .header-container .avatar-container h1{
        font-size: 3rem;
    }
    .header-container .avatar-container img{
        width: 180px;
    }

    .list-container{
        clear: both;
        flex-direction: column;
    }
    ul li{
        padding: 0; margin: .5rem 0;
    }
    .content .section-01 article img{
        float: left;
        width: 150px;
        margin-right: 15px;
    }
    footer .social{
        margin: 4rem 0 0;
    }
    footer .up-btn{
        top: 14rem;
        right: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .content .section-03#section-03 article.box{
        padding: 150px 30px 70px;
    }

    .avatar-container p{
        font-size: 1rem;
    }

    footer .copyright{
        font-size: 1rem;
    }
}