@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Prompt:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Prompt:wght@900&display=swap');

:root{
    --prime-color: #042940;
    --dark-green: #15ca67;
    --light-green: #51ed9c;
    --light-green2: #65eba6;
    --dark-gray: #363636;
    --blue-color: #155d78;
    --white: #ffffff;
    --background-color: #ececec;
    --text-shadow: 2px 2px 1px #042940;
}
/*
--light-green: #00ff7b;
*/
.container a{
    color: var(--prime-color);
}


/*
HEADERS Font
*/
h1, h2{
    font-family: 'Prompt', sans-serif;
    transition: 0.5s;
}
h1:hover, h2:hover{
    color: var(--light-green);
    text-shadow: var(--text-shadow);
}
h2{
    font-size: 27px;
}
p{
    color: var(--dark-gray);
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: normal;
}

/*TITLE AND SUBTITLE OF MY PORTFOLIUM*/
.main-title{
    text-align: center;
    font-size: 42px;
    transition: 0.5s;
}
.subtitle{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 22px;
    padding: 0 10px;  
    transition: 0.5s;
}
.subtitle:hover{
    text-shadow: 2px 1px 1px #042940;
}

/*
font-family: 'Secular One', sans-serif; 
*/

/*
LINKS
*/
.icon{
    font-size: 18px;
}
.about a{
    font-weight: bolder;
    color: var(--blue-color);
    transition: 0.5s;
}
.about a:hover{
    color: var(--white);
    background-color: var(--blue-color);
    padding: 3px;
    border-radius: 4px;
}

/*CONTENT*/
.container{
    color: var(--prime-color);
}


/*
FONT INSIDE PORTFOLIUM POSTs
*/
.portfolium h2{
    margin: 10px 0;
}
.portfolium a{
    color: var(--prime-color);
    text-decoration: none;
}
.portfolium p{
    text-align: justify;
}


/*
LINKS DENTRO DO ARTICLE
*/
.portfolium article p a{
    font-weight: bold;
    font-style: none;
    text-decoration: none;
    color: var(--blue-color);
    transition: 0.5s ease;
}
.portfolium article p a:hover{
    text-shadow: 1px 1px 2px #8dffbd;
    color: darkcyan;
}



/*SIDEBAR*/
.perfil{
    color: var(--white);
}
.perfil a{
    color: var(--white);
    text-decoration: none;
}
.perfil a:hover p{
    color: var(--light-green);
}
.perfil h2{
    margin: 40px 0 40px 20px;
}
.perfil p{    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--white);
    margin: 15px 0 0 20px;
}
.perfil ul li{
    margin: 5px 0 0 20px;
}











.copyright{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    color: var(--prime-color);
}

.description{
    display: block;
}
/*
.center-text{ 
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);

    padding: 0;
    margin: 0;

    font-family: 'Prompt', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: #155d78;
    opacity: 0;
}
.post a:hover .center-text{
    opacity: 1;
    text-shadow: 2px 2px 1px #fff;
}
*/