@charset "UTF-8";




*{
    box-sizing: border-box;
}



body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin: 0 auto;

    background-color: light;
}

header, main, footer{
    padding: 2rem;
    margin: 0;
}

.container{
    display: grid;
    grid-template-areas:
    "picture header"
    "picture main"
    "picture footer";
    position: relative;
}

header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-area: footer;
    font-weight: bolder;
    font-style: italic;
    padding: 1rem 2.5rem 3rem;
}


header img{
    display: none;
    position: absolute;
    top: 2rem;
    left: 5rem;
    width: 10rem;
}
header h1, header h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding: 0 1rem 0;
    line-height: 4rem;
    transition: 0.4s;
}
header h1:hover, header h2:hover{
    color: dodgerblue;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


body main .background p, .background h2{
    background-color: #000000a7;
    color: white;
    border-bottom: none;
}



picture{
    grid-area: picture;
    height: 100%;
    width: 380px;

    background-image: url(./imgs/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

picture .mobile{
    display: none;
}
.perfil .close-bar{
    display: none;
}

.about{
    padding-bottom: 5rem;
    padding: 0 1rem 1rem;
}
.about h2{
    padding: 2rem 0;
    border-bottom: 1px solid #a7a7a7;
}




.portfolium-grid{
    display: grid;
    grid-template-areas: "portfolium-title portfolium-title";
    grid-template-columns: 1fr 1fr;

    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    margin: 0 1rem;    
}

.portfolium-title{
    grid-area: portfolium-title;
    padding: 3rem 1rem 0;
}
.project{
    padding: 0.5em 1rem;
    margin: 1rem 0;
}
.project img{
    width: 100%;
}


picture{
    box-shadow: 0px 0px 7px 1px #00000048;
}
.perfil{
    position: fixed;
    left: 30px;
    margin: 10px;


    
    background-color: #0000007c;
    border-radius: 8px;
    padding: 15px 20px;
}
.perfil .avatar{
    display: block;
    width: 150px;
    border-radius: 6px;
    margin: 20px auto;
    box-shadow: 0px 0px 5px 2px #000000c4;
    transition: 0.5s;
}
.perfil .avatar:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px #000000b6;
}
.perfil h2{
    color: white;
    text-align: center;
    transition: 0.4s;
}
.perfil h2:hover{
    color: lightskyblue;
}
.contact a, .contact span{
    display: block;
    text-decoration: none;
    font-weight: bolder;
    font-size: 14px;

    color: white;
    padding: 5px;
    transition: 0.3s;
}
.contact span{
    font-size: 18px;
    padding: 5px;
    margin-right: 4px;
}
.contact a:hover{
    color: lightskyblue;
}

.grid{
    display: grid;
    grid-template-columns: 30px 1fr;
}
.grid span{
    text-align: center;
}


@media screen and (max-width: 1700px) {
    picture{
        width: 500px;
        transition: 0.5s;
    }
    .perfil{
        left: 85px;
        transition: linear 0.5s;
    }
}
@media screen and (max-width: 1200px) {
    picture{
        width: 400px;
        transition: 0.5s;
    }
    .perfil{
        left: 35px;
        transition: linear 0.2s;
    }
}
@media screen and (max-width: 1000px) {
    picture{
        width: 330px;
        transition: 0.5s;
    }
    .perfil{
        font-size: 13px;
        left: 8px;
        padding: 15px;
        transition: linear 0.5s;
    }
    .portfolium-grid{
        grid-template-areas: "portfolium-title";
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 800px) {
    header h1:hover, header h2:hover{
        color: inherit;
    }
    picture{
        height: 400px;
        width: 100vw;
        transition: 50ms;
    }
    .perfil{
        display: none;
        font-size: 13px;
        height: 100%;
        padding-top: 4em;
        margin: 0;
        left: 0;
        border-radius: 0;
        background-color: #3e3e3e;
        transition: linear 0.5s;
    }
    picture .mobile{
        display: block;
        position: absolute;
        color: white;
        z-index: 0;
        font-size: 23px;
        left: 50%;
        top: 10rem;
        cursor: pointer;
        transition: 0.4s;
    }
    picture .mobile:hover{
        color: #84c1ff;
    }
    .perfil .avatar{
        box-shadow: 0px 0px 5px 2px #00000063;
    }
    .perfil .close-bar{
        font-size: 25px;
    }
    .close-bar{
        position: absolute;
        top: 6px;
        right: 6px;

        color: #929292;
        border-radius: 6px;
        border: none;
        padding: 6px;
        cursor: pointer;
        transition: 0.5s;
    }
    .close-bar:hover{
        border-radius: 7px;
        color: #c66161;
    }

    .open-perfil, .open-perfil > .close-bar{
        display: block;
        transition: linear 0.5s;
    }

    header{
        position: absolute;

        background-color: #0000008a;
        color: white;
        padding: 0 0 30px;
        width: 100vw;
    }
    header h1, header h2{
       padding: 10px;
       margin: 0;
    }

    .flex{
        flex-direction: column;
        align-items: center;;
    }

    .container{
        display: grid;
        grid-template-areas:
        "header header"
        "picture picture"
        "main main"
        "footer footer";
        position: relative;
    }
    
    
    .parallax{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}