@charset "UTF-8";

:root{
    --prime-color: #042940;
    --dark-green: #15ca67;
    --light-green: #00ff7b;
    --light-green2: #65eba6;
    --dark-gray: #363636;
    --blue-color: #155d78;
    --white: #ffffff;
    --background-color: #ececec;
    --text-shadow: 2px 2px 1px #042940;
    --max-width: 900px;
    --min-width: 360px;
}

/*
#1da46e - dark-green
*/

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}


/*
GRID-LAYOUT
*/
.grid-layout{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
    "perfil header"
    "perfil main"
    "perfil footer";

    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: auto;    

    background-color: #ececec;    
    box-shadow: 0px 0px 10px 2px #0000007b;
    transition: 0.5s;
}
header{
    grid-area: header;
}
.perfil{
    grid-area: perfil;

    background-color: var(--prime-color);    
    margin: 0;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    font-style: italic;   
    padding: 50px 20px 30px; 
}





/*SPACE BETWEEN THE TWO MAIN COLUMNS*/
header, main > article, main .portfolium-title{
    padding: 0 20px;
}

.mobile{
    display: none;
}




/*
MY PORTFOLIUM, CREATED WITH GRID
*/
.portfolium{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.portfolium .portfolium-title{
    grid-column: 1/3;
}


.portfolium img{
    width: 100%;
    box-shadow: 0px 0px 5px 2px #00000052;
    transition: 0.5s;
}
.portfolium img:hover{
    box-shadow: 0px 0px 10px 3px #0e83baac;
}






/*SIDE-COLUMN*/
.about{
    margin: 5rem 0 2rem;
    border-bottom: 5px solid var(--prime-color);
}
.avatar{
    width: 100%;
}



.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*
FONTs INSIDE THE BOX
*/
.box h2{
    margin: 15px 0px;
    transition: 0.5s;
}
.box h2:hover{
    color: var(--light-green);
}
.box p{
    font-size: 16px;
    margin: 10px 20px;
    transition: 0.5s;
}
.box p:hover{
    color: var(--light-green);
}



.flex-row{
    display: flex;
    justify-content: space-between;
}
.container .scrolltop{
    font-size: 22px;
    text-decoration: none;

    color: #65eba6;
    background-color: var(--prime-color);

    padding: 13px 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 1px #0000007d;
    transition: 0.5s;
}
.container .scrolltop:hover{
    color: #00ff62;
    box-shadow: 0px 0px 10px 1px #00b3ffd6;
}